/*% header */
* {
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

header h1 {
    font-size: 2.5rem;
    margin: 1.25rem 0;
}

header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(#0e0e0e, #555);
    color: white;
    align-items: center;
    justify-content: center;
}

.navigation {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1.25rem;
}

.nav-item a {
    color: white;
    text-decoration: none;
    padding: 0.3125rem 0.625rem;
    border-radius: 0.125rem;
    font-size: 1.125rem;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.nav-item a:hover {
    background-color: #555;
    color: #fff;
}

/*% Cuerpo  */
.porta {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    padding: 0.3125rem 1.25rem 1.25rem 1.25rem;
}

.mascota {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* ya con este grid puedo hacer que tengan un valor minimo por pantalla */
    justify-items: start;
    justify-content: space-evenly;
    grid-auto-rows: 320px;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    height: 100%;
    gap: 0.625rem;
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 0.625rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.content-card {
    display: flex;
    flex-direction: column;

    padding: 0 1.125rem;
}

.animal-name {
    color: #313131;
    font-size: 1.5rem;
    margin: auto;
}

.paragraph {
    color: #3a3a3a;
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    margin: 10px 0 20px 0;
}

.content-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    color: #fff;
    margin-bottom: 10px;
}

@media (max-width: 768px) {

    .subtitle {
        text-align: center;
    }

    .porta {
        padding: 5px 20px 20px 20px;
    }

    .mascota {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .card {
        width: 220px;
    }
}

@media (max-width: 425px) {



    .porta {
        padding: 5px 10px 20px;
    }

    .mascota {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    .card {
        width: 190px;
    }

    .btn {
        margin-bottom: 10px;
    }
}